/* header starts here */
* { 
	padding:0px;
	margin:0px;
}

nav {
	width: 100%;
	height: 25px;
	background-color: black;
	display: block 100%;
	clear: both;
	margin: 0px;
	padding: 5px;
}

nav ul {
	border: solid;
	width: 100%;	
}

nav ul li {
	font-family: arial;
	font-weight: bold;
	font-size: 15px;
	margin: 0;
	padding-top: 2px;
	background-color: black;
	color: grey;
	border-bottom: 2px solid black;
	box: solid black;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	float: left;
	width: 5%;
}

/*--- Google Logo section ---*/

#googleicon {
	height:10px; 
	width:10px;
	margin: 18% 25% 15% 30%;
	text-align: right;
	position: relative;
	clear:both;
}

/*--- Search Icon ---*/
#search {
	margin-top: 0x;
  	margin-left: 6px;

}

.searchicon {
	top: 50px;
	left: 100px;
	position: fixed;
  	
}


/*--- Bottons bellow search bar ---*/
.bottonleft {
	height: 50px;
    width: 120px;
    border: solid;
    border-color: #6495ED;
    background: 2px #BCD2EE;
    border-radius: 5px;
    margin: auto;
    text-align: center;


}

.bottonright {
	height: 50px;
	width: 70px;
	border: solid;

}



/*--- Footer section ---*/
#footer {
	color: #f2f2f2;
	display: block 100%;
	border-width: 1px grey;
}

#footerleft {
	background: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	font-size: small;
	line-height: 40px;
	min-width: 930px;
	padding: 0 30px;
	padding-top: 0px;
	padding-right: 30px;
	padding-bottom: 0px;
	padding-left: 30px;
}

#footerright {
	display: block;
	float: right;
	color: pink;
}



